body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/219/567/737/flower-cat-crystal-the-sun-wallpaper-preview.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
}